# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# User Data & Logs
data/app.log
data/users/

# Excel Reports
*.xlsx

# Environment & IDE
.env
.venv/
env/
venv/
.vscode/
.idea/
